node_modules
.next
out
build
coverage
*.min.js
package-lock.json
docs/data-model-svgs/data-model-full-erd.svg
docs/data-model-svgs/core-data-model-erd.svg
docs/data-model-svgs/packing-data-model-erd.svg
docs/data-model-svgs/rides-data-model-erd.svg
docs/data-model-svgs/tasks-data-model-erd.svg
docs/data-model-svgs/notifications-data-model-erd.svg
